

<form action="/games" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Date Played:
      <input type="date" name="game[date_played]">
    </label>
    <label>Opponent:
      <select name="game[opponent_id]">
        <%= options_for_select(@opponent_options)%>
      </select>
    </label>
    <label>Your Score:
      <input type="number" name="game[your_score]">
    </label>
    <label>Their Score:
      <input type="number" name="game[their_score]">
    </label>
    <input type="submit" value="Log Game">
  </form>
